<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}

{% load custom_filters %}

{% block head_title %}
    News
{% endblock head_title %}

<!-- Название у нас будет Product -->
{% block title %}
    News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
    <h1>{{ post.title|censor }}</h1>
    <h3>Created: {{ post.created|date:'d M Y' }}</h3>
    <h3>{{ post.content|censor }}</h3>
    <h3>Author: {{ post.author.user.username }}</h3>
{% endblock content %}